<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClearStandbyMemoryScheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <ClearStandbyMemoryScheduler.Properties.Settings>
            <setting name="ThresholdIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ThresholdValue" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="TimeInterval" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ExecuteImmediately" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideToSystemTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearStandbyMemoryScheduler.Properties.Settings>
    </userSettings>
    <System.Windows.Forms.ApplicationConfigurationSection>
        <add key="DpiAwareness" value="PerMonitorV2" />
    </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>